{% extends 'base.html.twig' %}
{% block title %}Ressource - Accueil{% endblock %}

{% block body %}
        <div class="container">
            <h1 class="display-3 text-primary text-center font-weight-bold">Bienvenue sur le site Ressource</h1>
            <p class="lead text-center ">Application d'agrégation de ressources sur le développement web (tutos, actualités, bonnes pratiques...).</p>
                <p class="lead text-center">Les articles sont indexés par mots-clés, paramétrables.</p>
            <div class="row">
                <a href="{{ path('keyword_index') }}" class="btn btn-group-lg btn-primary btn-block">
                    <i class="fas fa-angle-double-right"></i> MOTS-CLES </a>
                <a href="{{ path('info_index') }}" class="btn btn-group-lg btn-primary btn-block">
                    <i class="fas fa-angle-double-right"></i> RESSOURCES </a>
            </div>
        </div>
{% endblock %}