{% extends 'base.html.twig' %}
{% block title %}Ressource - Accueil{% endblock %}

{% block body %}
    <h1>Bienvenu à l'accueil du site Ressource</h1>
    <a href="/" class="btn btn-primary">
        <i class="fas fa-angle-double-right"></i></a>
{% endblock %}